<div class="outer " >
    <div class="container ">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel border bg-white">
                    <div class="panel-heading">
                        <h3 class="pt-3 font-weight-bold">
                            Your Dynamic Form
                        </h3>
                        <div class="panel-body p-3">
                                <form [formGroup]="myForm" (ngSubmit)="submit()" >

                                    <div class="form-group pt-3">
                                        <div class="input-field" *ngFor=" let c of simpleForm " >
                                            <div>
                                                <small> {{c.options.label}}</small>
                                            </div>
                                            <div [ngSwitch]="c.type" >

                                                <input *ngSwitchCase="'input'" type="text" [formControlName]="c.key" >

                                                <textarea *ngSwitchCase="'textarea'"  [formControlName]="c.key" > </textarea> 

                                                <input *ngSwitchCase="'date'" type="date" [formControlName]="c.key" >

                                                <input *ngSwitchCase="'boolean'" type="radio" [formControlName]="c.key" >
                                            </div>

                                        </div>
                                    </div>

                                    <button type="submit" [disabled]="!myForm.valid">Submit</button>

                                </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>